
/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  display: flex;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  flex-direction: column;
  margin-bottom: 0px;
  height: 100%;
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.float-md-start {
  font-size: 250%;
}
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.904);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, 0.904);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead {
  color: #fff;
  border-bottom-color: #fff;
}

.mb-auto {
  margin-bottom: auto!important;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 1%;
  background-color:transparent;
}
header {
  display: block;
}
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: transparent;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.float-md-end {
  float: right!important;
}

.justify-content-center {
  justify-content: center!important;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.ptitle {
  font-size: 25px;
}

.pimg {
  border-radius: 8px;
  width: 75%;
}
.navBOX {
  display: flex;
  background-color: transparent;
  color: white;
  text-align: center;
  height: 65px;
  justify-content: space-between;
}
.bodyBox {
  display: flex;
  background-color: transparent;
  color: white;
  text-align: center;
  /* background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; */
}
.App {
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.fullstack {
  display: flex;
  justify-content: space-evenly;
}
.skill {
  width: 25%;
}
.pfp {
  height: 36%;
  width: 36%;
}
.footnote {
  text-align: right;
  padding-right: 4%;
}
.icons {
  display: flex;
  filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%);
  justify-content: center;
}
.iconlinks {
  height: 60px;
  width: 60px;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 18px;
  /* filter: invert(48%) sepia(13%) saturate(3207%) hue-rotate(130deg) brightness(95%) contrast(80%); */
}